@{
    ViewData["Title"] = "Ideas Repository";
}

<div class="carousel slide">
    <img src="~/images/banner-01.jpg" alt="ASP.NET" class="img-responsive" />
</div>

<div class="row">
    <h2>Don't forget your IDEAS!</h2>
    <ul>
        <li>Create ideas!</li>
        <li>Improve ideas!</li>
        <li>Realize ideas!</li>
    </ul>
</div>
